<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="mongodbDir" value="data\db\test"/>

    <add key="configTestString" value="this is a string"/>
    <add key="configTestInt" value ="123"/>
    <add key="configTestBool" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="mondodb" connectionString="mongodb://localhost:27018/self-publish-unit-test" providerName="Mongodb"/>

    <add name="DummyConnectionString" connectionString="Data Source=foo;Initial Catalog=bar;Integrated Security=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
