<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mongodbDir" value="data\db\test"/>
  </appSettings>
  <connectionStrings>
    <add name="mondodb" connectionString="mongodb://localhost/self-publish-unit-test" providerName="Mongodb"/>
  </connectionStrings>
</configuration>