<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="configServiceBaseUrl" value="http://localhost:12914/api/"/>
    <add key="packageNameToDeploy" value="SayedHaPackage"/>
    <add key="deployParameters" value='{"MsdeployTimeout":"10000", "Parameters" : {"IIS Web Application Name" : "Default Web Site/FooBar"	}}'/>
    <add key="msdeployTimeout" value="10000"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
